<%- include("../admin/layouts/admin_header.ejs") %>

<div class="main-panel">
  <style>
    .form-group p {
      font-size: medium;
      visibility: hidden;
    }
  
    .form-group.error p {
      color: rgb(255, 75, 75);
      visibility: visible;
    }
  
    .form-group.success p {
      color: rgb(45, 223, 113);
    }
    .form-group input{
      border:  1px solid;
    }
  
    .form-group.error input {
      border-color: coral;
    }
  
    .form-group.success input {
      border-color: rgb(45, 223, 113);
   
    }
  
  </style>
<div class="content-wrapper">
<div class="row">
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Products</h4>
        <!-- <p class="card-description"> Basic form elements </p> -->
        <form   method="post" id="form" enctype="multipart/form-data" >
          <div  class="form-group">
            <label  for="exampleInputName1">Name</label>
            <input type="text"  name="name" data-name="Product Name"   class="form-control" id="exampleInputName1" >
            <p>Error messsage</p>

          </div>
          <div  class="form-group">
            <label  for="exampleInputName1">Brand</label>
            <input type="text"  name="brand" data-name="Brand" class="form-control" id="exampleInputBrand1"  >
            <p>Error messsage</p>

          </div>
          <div class="form-group ">
            <label for="exampleInputprice3">Price</label>
            <input type="number" name="price" data-name="Price" class="form-control"  id="exampleInputprice3"  >
            <p>Error messsage</p>

          </div>
          <div class="form-group">
            <label>File upload</label>
            <input type="file" name="image" data-name="Product images" class="file-upload-default" id="image">
            <div class="input-group col-xs-12">


             <input type="file"  placeholder="Upload Image" name="image" multiple>
            <p>Error messsage</p>

            

              
            </div>
            
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1">category</label>
          

            <select name="category" class="form-control" id="exampleInputUsername1">
                <% for(let i=0;i< cartData.length;i++){ %>
                    <option>
                        <%= cartData[i].name %>
                    </option>
                    <% } %>
            </select>
          </div>
          
          <div class="form-group">
            <label for="exampleInputPassword4">Stock</label>
            <input type="text" name="stock" class="form-control" data-name="Stock status" id="exampleInputstock4"  >
            <p>Error messsage</p>

          </div>
          <div class="form-group">
            <label for="exampleInputquantity4">Quantity</label>
            <input type="text" name="quantity" class="form-control" data-name="Quantity" id="exampleInputquantity4" >
            <p>Error messsage</p>

          </div>
     
          <div class="form-group">
            <label for="exampleTextarea1">Description</label>
            <input type="text" name="description" class="form-control" data-name="Description" id="exampleTextarea1" rows="4"></input>
            <p>Error messsage</p>

          </div>

          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-dark">Cancel</button>
          <% if(typeof message !== 'undefined'){ %>
            <span id="er2" style="color: rgb(0, 246, 12); text-align: center "
              ><%= message%>
            </span>
            <% } %>
        </form>
      </div>
    </div>
  </div>
</div>
</div>


</div>

<script>
  

 

  const name = document.getElementById('exampleInputName1')
  const brand = document.getElementById('exampleInputBrand1')
  const price = document.getElementById('exampleInputprice3')
  const image = document.getElementById('image')
  const category = document.getElementById('exampleInputUsername1')
  const stock = document.getElementById('exampleInputstock4')
  const quantity = document.getElementById('exampleInputquantity4')
  const description = document.getElementById('exampleTextarea1')
 


  function checkRequired(inputs) {
    inputs.forEach((input) => {
      if (input.value.trim() === "") {
        errorInput(input,`${getName(input)} is Required`);
      }
      else{
       
      }
    })
  }

  function getName(input){
    return input.getAttribute("data-name");
  }

  function errorInput(input, message) {
    const formGroup = input.parentElement;
    formGroup.className = " form-group error";
    const p = formGroup.querySelector("p");
    p.innerHTML = message;

  }
  function successInput(input) {
    const formGroup = input.parentElement;
    formGroup.className = "form-group success"
    const p = formGroup.querySelector("p");
    p.innerHTML = "";
  }
   

 

  const form = document.getElementById("form");;
  form.addEventListener("submit",function(e){
    
    checkRequired([name,brand,price,image,category,stock,quantity,description]);


  })




</script>


<%- include("../admin/layouts/admin_footer.ejs") %>



