<%- include("../admin/layouts/admin_header.ejs") %>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
             <div  id="error" style="color: red;"></div>
             <form class="forms-sample" method="post" id="form">
                <div class="form-group row">
                  <div class="col-sm-9">
                    <input type="text" name="name" class="form-control" id="category" placeholder="Category Name"  >
                  </div>
                </div>
                <a href="./category">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
              </a>
                <button class="btn btn-dark">Cancel</button>
              </form>
             
            </div>
            <% if(typeof message !== 'undefined'){ %>
              <span id="er2" style="color: rgb(0, 246, 12); text-align: center "
                ><%= message%>
              </span>
              <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>



  <script>


    const category = document.getElementById('category');
    const  form  = document.getElementById('form')
    const errorElement = document.getElementById("error")

    form.addEventListener('submit',(e)=>{
    let messages = []
    if(  category.value =="" || category.value == null){
      messages.push('Please add a input')
    }

    if( category.value.length > 15 ){
         messages.push("Category name only allow 10 characters")
    }

    if( messages.length > 0  ){
      e.preventDefault()
      errorElement.innerText = messages.join(' & ')
      
    }

    })
    


  </script>


<%- include("../admin/layouts/admin_footer.ejs") %>
