<%- include("../admin/layouts/admin_header.ejs") %>

<div class="main-panel">

<div class="content-wrapper">
<div class="row">
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Products</h4>
        <!-- <p class="card-description"> Basic form elements </p> -->
          <div  id="error" style="color: red;"></div>
         
        <form   method="post" id="form" enctype="multipart/form-data" >
          <div  class="form-group">

            <label  for="exampleInputName1">Name</label>
            <input type="text"  name="name" data-name="Product Name"  max="10" class="form-control" id="exampleInputName1" >
           

          </div>
          <div  class="form-group">
            <label  for="exampleInputName1">Brand</label>
            <input type="text"  name="brand" data-name="Brand" class="form-control" id="exampleInputBrand1"  >
          

          </div>
          <div class="form-group ">
            <label for="exampleInputprice3">Price</label>
            <input type="number" name="price" min="0" data-name="Price" class="form-control"  id="exampleInputprice3"  >
           

          </div>
          <div class="form-group">
            <label>File upload</label>
            <input type="file" name="image" data-name="Product images" class="file-upload-default" id="image">
            <div class="input-group col-xs-12">


            <input type="file"  placeholder="Upload Image" name="image" multiple>
 

            
             <a type="button" href="./imageCropper"><samp style="font-size: larger; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(46, 202, 88);">Crop and upload</samp> <span style="color: aliceblue;">(Size 3400*2400) 3315*2216</span></a>
              
            </div>
            
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1">category</label>
          

            <select name="category" class="form-control" id="exampleInputUsername1">
                <% for(let i=0;i< cartData.length;i++){ %>
                    <option>
                        <%= cartData[i].name %>
                    </option>
                    <% } %>
            </select>
          </div>
          
          <div class="form-group">
            <label for="exampleInputPassword4">Stock</label>
            <input type="text" name="stock" class="form-control" data-name="Stock status" id="exampleInputstock4"  >
         

          </div>
          <div class="form-group">
            <label for="exampleInputquantity4">Quantity</label>
            <input type="number" name="quantity" min="0" class="form-control" data-name="Quantity" id="exampleInputquantity4" >
           

          </div>
     
          <div class="form-group">
            <label for="exampleTextarea1">Description</label>
            <input type="text" name="description" class="form-control" data-name="Description" id="exampleTextarea1" rows="4"></input>
            

          </div>

          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <% if(typeof message !== 'undefined'){ %>
            <span id="er2" style="color: rgb(0, 246, 12); text-align: center "
              ><%= message%>
            </span>
            <% } %>
        </form>
      </div>
      <a href="./home" ><button class="btn btn-dark" style="float: right; border-color: aliceblue;">Cancel</button></a>
    </div>
  </div>
</div>
</div>





</div>

<script>
  

 

  const name = document.getElementById('exampleInputName1')
  const brand = document.getElementById('exampleInputBrand1')
  const price = document.getElementById('exampleInputprice3')
  const image = document.getElementById('image')
  const category = document.getElementById('exampleInputUsername1')
  const stock = document.getElementById('exampleInputstock4')
  const quantity = document.getElementById('exampleInputquantity4')
  const description = document.getElementById('exampleTextarea1')
  const form = document.getElementById('form');
  const errorElement = document.getElementById('error')
  form.addEventListener('submit',(e)=>{
    let messages =[]

    if( name.value.trim() == "" || name.value.trim() ==null  ){
      messages.push("Product name required!")
    }
     if( name.value.trim().length > 15){
      messages.push("Product name only containe 15 words!")
    }
    
    if( brand.value == "" || brand.value ==null ){
      messages.push("Brand required!")
    }

    if( price.value == "" || price.value ==null ){
      messages.push("Price required!")
    }

    // if( image. ){
    //   messages.push("Images required!")
    // }

    if( category.value == "" || category.value ==null ){
      messages.push("=Category required!")
    }

    if( stock.value == "" || stock.value ==null ){
      messages.push("Stock required!")
    }

    if( quantity.value == "" || quantity.value ==null ){
      messages.push("Quantity required!")
    }


    if( description.value == "" || description.value ==null ){
      messages.push("Description required!")
    }

    if( description.value.length > 200 ){
      messages.push("Description only contain less than 100 words")
    }

     if( messages.length > 0){
       e.preventDefault()
       errorElement.innerText = messages.join('&')
     }
  })
  
</script>


<%- include("../admin/layouts/admin_footer.ejs") %>



