<%- include("../user/layouts/user_header.ejs") %>

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">About us</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <div class="container">
        <div class="page-header page-header-big text-center" style="background-image: url('/userassets/images/bannerimg1.jpg')">
            <h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
        </div><!-- End .page-header -->
    </div><!-- End .container -->

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <h2 class="title">Our Vision</h2><!-- End .title -->
                    <p>They empower riders to effortlessly navigate through traffic, conquer hills, and extend their commuting range, all while promoting an active lifestyle. With their quiet and efficient electric motors, e-cycles pave the way for a greener and healthier future, redefining the way we move and envision a cleaner, more accessible urban landscape.</p>
                </div><!-- End .col-lg-6 -->
                
                <div class="col-lg-6">
                    <h2 class="title">Our Mission</h2><!-- End .title -->
                    <p>Electric cycles have emerged as a revolutionary vision for sustainable urban mobility. Combining the ease of cycling with the efficiency of electric power, these innovative vehicles have the potential to reshape the way we move in cities. Electric cycles envision a cleaner, greener future where commuters can effortlessly glide through traffic with reduced emissions and minimal environmental impact. With advancements in battery technology and smart design, these eco-friendly cycles promise extended ranges and intelligent connectivity features, making them a practical and attractive alternative to traditional modes of transportation. As cities strive for greener solutions, electric cycles stand at the forefront, offering a promising vision of a more sustainable and congestion-free urban landscape.</p>
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->

            <div class="mb-5"></div><!-- End .mb-4 -->
        </div><!-- End .container -->

        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="brands-text">
                        <h2 class="title">Our best dealers</h2><!-- End .title -->
                    </div><!-- End .brands-text -->
                </div><!-- End .col-lg-5 -->
                <div class="col-lg-7">
                    <div class="brands-display">
                        <div class="row justify-content-center">
                            <div class="col-6 col-sm-4">
                                <h3 style="font-weight: 500;background-color: rgb(179, 174, 174);">Emotorad</h3>
                            </div><!-- End .col-sm-4 -->
                            <div class="col-6 col-sm-4">
                                <h3 style="font-weight: 500;background-color: rgb(179, 174, 174);">Tata</h3>
                            </div><!-- End .col-sm-4 -->
                            <div class="col-6 col-sm-4">
                                <h3 style="font-weight: 500;background-color: rgb(179, 174, 174);">NinetyOne</h3>
                            </div><!-- End .col-sm-4 -->
                            <div class="col-6 col-sm-4">
                                <h3 style="font-weight: 500;background-color: rgb(179, 174, 174);">Hero</h3>
                            </div><!-- End .col-sm-4 -->
                            <div class="col-6 col-sm-4">
                                <h3 style="font-weight: 500;background-color: rgb(179, 174, 174);">Leader</h3>
                            </div><!-- End .col-sm-4 -->

                           
                        </div><!-- End .row -->
                    </div><!-- End .brands-display -->
                </div><!-- End .col-lg-7 -->
            </div><!-- End .row -->

        </div><!-- End .container -->

        <div class="mb-2"></div><!-- End .mb-2 -->

        <div class="about-testimonials bg-light-2 pt-6 pb-6">
            <div class="container">
                <h2 class="title text-center mb-3">What Customer Say About Us</h2><!-- End .title text-center -->

                <div class="owl-carousel owl-simple owl-testimonials-photo" data-toggle="owl" 
                    data-owl-options='{
                        "nav": false, 
                        "dots": true,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "1200": {
                                "nav": true
                            }
                        }
                    }'>
                    <blockquote class="testimonial text-center">
                   
                        <p>“"Absolutely blown away by my new electric cycle from [Your Website Name]. This bike is a game-changer! It's sleek, powerful, and so much fun to ride. The electric assist makes uphill climbs a breeze, and I can cover long distances without breaking a sweat. Not to mention, I feel great knowing I'm reducing my carbon footprint while exploring the outdoors. Thank you, [Your Website Name], for revolutionizing my cycling experience!" - Happy Rider123</p>
                        <cite>
                           Sundardas 
                            <span>Customer</span>
                        </cite>
                    </blockquote><!-- End .testimonial -->
                </div><!-- End .testimonials-slider owl-carousel -->
            </div><!-- End .container -->
        </div><!-- End .bg-light-2 pt-5 pb-6 -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
<%- include("../user/layouts/user_footer.ejs") %>
