<%- include("../user/layouts/user_header.ejs") %>



<div class="page-wrapper">
    <main class="main">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">You need to return?</h1>
             
            </div>
          </div>
           
            </div><!-- End .error-content text-center -->
            <script>
                // Select all elements with the "i" tag and store them in a NodeList called "stars"
                const stars = document.querySelectorAll(".stars i");
                const ratingInput = document.getElementById("ratingInput");
            
                // Loop through the "stars" NodeList
                stars.forEach((star, index) => {
                // Add an event listener that runs a function when the "click" event is triggered
                star.addEventListener("click", () => {
                    // Set the rating value in the hidden input field
                    ratingInput.value = index + 1;
            
                    // Update the stars' appearance based on the new rating value
                    stars.forEach((star, i) => {
                    star.classList.toggle("active", i <= index);
                    });
                });
                
                });
            </script>
    

    </main><!-- End .main -->


    
<%- include("../user/layouts/user_footer.ejs") %>
