<%- include("../user/layouts/user_header.ejs") %>

 
  
                                        <div class="error-content text-center">
                                            <div class="container">
                                                <h1 class="error-title"></h1>
                                                <!-- End .error-title -->
                                                <h1 class="error-title"> <Span style="color:rgb(46, 202, 88) ;">Please</Span>add your address</h1><!-- End .error-title -->
                                                <a href="/loadaddAddressFromDash" class="btn btn-outline-primary-2 btn-minwidth-lg">
                                                    <span>Add addresss</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>

   

<%- include("../user/layouts/user_footer.ejs") %>