<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <title>PEP signup</title>
</head>

<body background="/adminassets/images/background.jpg" style="background-size: cover; ">
  <style>
    .form-group p {
      font-size: small;
      visibility: hidden;
    }

    .form-group.error p {
      color: rgb(255, 75, 75);
      visibility: visible;
    }

    .form-group.success p {
      color: rgb(45, 223, 113);
    }
    .form-group input{
      border:  2px solid;
    }

    .form-group.error input {
      border-color: coral;
    }

    .form-group.success input {
      border-color: rgb(45, 223, 113);
   
    }
    .p{
      font-size: 4vh;
      font-weight:1000;
      font-family:Arial, Helvetica, sans-serif;
      
    }
  </style>
 
  <!-- Section: Design Block -->
  <section class="background" >
   
   
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5" >
      <div class="row gx-lg-5 align-items-center mb-5"> 
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" >


          </h1>
          <p class="p" style="color: hsl(221, 32%, 10%)">
            PEP ENERGY
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              
              <form action="" method="post" id="form">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <!-- <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1" class="form-control" />
                      <label class="form-label" for="form3Example1">First name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example2" class="form-control" />
                      <label class="form-label" for="form3Example2">Last name</label>
                    </div>
                  </div>
                </div> -->
                <!--Username Input-->
                <div class="form-group">
                  <label class="form-label" for="form3Example3">User name</label>
                  <input type="text" id="name" data-name="User name" name="name" class="form-control" />
                  <p>Error messsage</p>

                </div>

                <!-- Email input -->
                <div class="form-group">
                  <label class="form-label" for="form3Example3">Email address</label>
                  <input type="text" id="email" data-name="Email" name="email" class="form-control" />
                  <p>Error messsage</p>

                </div>

                <!--Phoneno input-->
                <div class="form-group">
                  <label class="form-label" for="form3Example3">Phone number</label>
                  <input type="number" id="number" data-name="Mobile number" name="number" class="form-control" />
                  <p>Error messsage</p>

                </div>

                <!-- Password input -->
                <div class="form-group">
                  <label class="form-label" for="form3Example4">Password</label>
                  <input type="password" id="password" data-name="Password" name="password" class="form-control" />
                  <p>Error messsage</p>

                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <!-- <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Subscribe to our newsletter
                  </label> -->
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Sign up
                </button>
                 <a href="/login" style="float: right;"><span>Already user ?</span></a>
                <!-- Register buttons -->
                <div class="text-center">
                  <p>or sign up with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
                <% if(typeof message !=='undefined' ){%>
                  <p style="color: green; font-size: large; font-weight: 300;">
                    <%= message %>
                  </p>
                  <% } %>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </section>

 <!-- ====================================== FORM VALIDATION ====================== -->
  <script>

    const name = document.getElementById("name")
    const email = document.getElementById("email")
    const number = document.getElementById("number")
    const password = document.getElementById('password')

   
    String.prototype.isEmail = function() {
  return !!this.match(/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/);
     }

     String.prototype.isLettters = function(){
      return !!this.match( /^[a-zA-Z]+$/ )
     }
 
    function checkRequired(inputs) {
      inputs.forEach((input) => {
        if (input.value.trim() === "") {
          errorInput(input,`${getName(input)} is Required`);
        }
        else{
       
        }
      })
    }

    function getName(input){
      return input.getAttribute("data-name");
    }

    function errorInput(input, message) {
      const formGroup = input.parentElement;
      formGroup.className = " form-group error";
      const p = formGroup.querySelector("p");
      p.innerHTML = message;

    }
    function successInput(input) {
      const formGroup = input.parentElement;
      formGroup.className = "form-group success"
      const p = formGroup.querySelector("p");
      p.innerHTML = "";
    }
   

    function  checkLength(input,min,max){
      const data = input.value.trim().length;
    if(data<min){
      errorInput(input,`${getName(input)} must be atleast greater than ${min} charecters`);

    } else if (data>max){

      errorInput(input,`${getName(input)} must be atleast lesser than ${max} charecters`);
      
    } else {
      successInput(input);
      isvalid=false
    }
    }
    function checkEmail(input){
       if(!input.value.trim().isEmail()){
      errorInput(input,`This  is not a valid email address `);
          
       } else {
         successInput(input)
       }
    }

    function isLettters(input){
       if(!input.value.trim().isLettters()){
       errorInput(input,`${getName(input)} Only contain letters `);
             
       } else {
         successInput(input)
       }
    }
    function checkNumber(input,min,max){
      const data = input.value.trim().length;
      if( data < min){
      errorInput(input,`${getName(input)} must be  ${min} charecters`);
      } else if (data > max) {
      errorInput(input,`${getName(input)} Only take  ${min} charecters`);
      } else {

      successInput(input);
 
      }
      
     
      
    }
     
   
   

    const form = document.getElementById("form");;
    form.addEventListener("submit",function(e){
      // e.preventDefault()
      checkRequired([email,name,password,number]);
      checkLength(name,5,10)
      checkLength(password,5,8)
      checkNumber(number,10,10)
      checkEmail(email)
      isLettters(name)
 
    
    })
  





  </script>
  






  <!-- Section: Design Block -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>




